<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Link Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Link Alertify Styles -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />

    <!-- Link Alertify Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css" />

    <!-- Link CSS -->
    <link rel="stylesheet" href="style/admin.css">

    <title>Editar Contenido</title>
</head>

<body>
    <div class="container">
        <div class="wrap-text">

            <!-- Title -->
            <h1 class="text-center mt-5">Editar Contenido</h1>

        </div>
        <div class="d-flex flex-column mt-5">

            <!-- Collapse Button Landing -->
            <a class="btn btn-primary mb-2" id="btn-collapse-landing" data-toggle="collapse" href="#landing"
                role="button" aria-expanded="false" aria-controls="landing">
                Seccion: Inicio
            </a>

            <!-- Landing Section -->
            <div class="collapse" id="landing">
                <div class="p-5">
                    <div class="card">
                        <div class="card-header text-center">

                            <!-- Card Title -->
                            Seccion: Inicio

                        </div>
                        <div class="card-body">

                            <!-- Landing Subtitle -->
                            <label for="landing_subtitle">Subtitulo del inicio:</label>
                            <input type="text" name="landing_subtitle" class="form-control" id="landing_subtitle">

                        </div>
                        <div class="card-footer">

                            <!-- Update Button -->
                            <a class="btn btn-success form-control mt-3" id="update_landing">Guardar cambios</a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Collapse Button About -->
            <a class="btn btn-primary mb-2" id="btn-collapse-about" data-toggle="collapse" href="#about" role="button"
                aria-expanded="false" aria-controls="about">
                Seccion: Acerca de
            </a>

            <!-- About Section -->
            <div class="collapse" id="about">
                <div class="p-5">
                    <div class="card">
                        <div class="card-header text-center">

                            <!-- Card Title -->
                            Seccion: Acerca de
                            
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- About Image -->
                        <label>Imagen</label>
                        <img class="img-fluid" id="src_about_img" src="">
                        <input type="file" name="image" class="form-control mb-3" id="input_about_img">

                        <!-- About Description -->
                        <label>Descripcion</label>
                        <textarea class="form-control" id="textarea_about_description" cols="40" rows="15"></textarea>

                        <!-- Facebook Link -->
                        <label>Facebook Link:</label>
                        <input type="text" class="form-control" id="social_media_link_facebook">

                        <!-- Instagram Link -->
                        <label>Instagram Link:</label>
                        <input type="text" class="form-control" id="social_media_link_instagram">

                        <!-- Whatsapp Number -->
                        <label>Whatsapp Number:</label>
                        <input type="text" class="form-control" id="social_media_link_whatsapp">

                    </div>
                    <div class="card-footer">

                        <!-- Update Button -->
                        <a class="btn btn-success form-control mt-3" id="update_about">Guardar cambios</a>

                    </div>
                </div>
            </div>

            <!-- Collapse Button Services -->
            <a class="btn btn-primary mb-2" id="btn-collapse-services" data-toggle="collapse" href="#services"
                role="button" aria-expanded="false" aria-controls="services">
                Seccion: Servicios
            </a>

            <!-- Services Section -->
            <div class="collapse" id="services">
                <div class="p-5">
                    <div class="card">
                        <div class="card-header text-center">

                            <!-- Card Title -->
                            Seccion: Servicios

                        </div>
                        <div class="card-body">

                            <!-- Service Accounting Description -->
                            <label for="service_contabilidad">Descripcion Servicio Contabiliad</label>
                            <input type="text" name="service_contabilidad" class="form-control"
                                id="service_contabilidad">
                            
                            <!-- Service Administration Description -->
                            <label for="service_administration">Descripcion Servicion Administracion</label>
                            <input type="text" name="service_administration" class="form-control"
                                id="service_administration">

                            <!-- Service Recruitment Description -->
                            <label for="service_recruitment">Descripcion del servicio Reclutamiento</label>
                            <input type="text" name="service_recruitment" class="form-control" id="service_recruitment">

                        </div>
                        <div class="card-footer">

                            <!-- Update Button -->
                            <a class="btn btn-success form-control mt-3" id="update_services">Guardar cambios</a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Collapse Button Portfolio -->
            <a class="btn btn-primary mb-2" id="btn-collapse-portfolio" data-toggle="collapse" href="#portfolio"
                role="button" aria-expanded="false" aria-controls="portfolio">
                Seccion: Portafolio
            </a>

            <!-- Portfolio Section -->
            <div class="collapse" id="portfolio">
                <div class="p-5">
                    <div class="card">
                        <div class="card-header text-center">

                            <!-- Card Title -->
                            Seccion: Portafolio

                        </div>
                        <div class="card-body">

                            <!-- First Portfolio-Item Title -->
                            <label>Titulo Primer Portafolio Item:</label>
                            <input type="text" name="first_port_title" class="form-control" id="first_port_title">

                            <!-- Second Portfolio-Item Title -->
                            <label>Titulo del segundo portafolio:</label>
                            <input type="text" name="sec_port_title" class="form-control" id="sec_port_title">

                            <!-- Third Portfolio-Item Title -->
                            <label>Titulo del tercer portafolio:</label>
                            <input type="text" name="third_port_title" class="form-control" id="third_port_title">

                            <!-- First Portfolio-Item Subtitle -->
                            <label>Subtitulo del primer portafolio</label>
                            <input type="text" name="first_port_subtitle" class="form-control" id="first_port_subtitle">

                            <!-- Second Portfolio-Item Subtitle -->
                            <label>Subtitulo del segundo portafolio</label>
                            <input type="text" name="sec_port_subtitle" class="form-control" id="sec_port_subtitle"><label>

                            <!-- Third Portfolio-Item Subtitle -->
                            <label>Subtitulo del tercer portafolio</label>
                            <input type="text" name="third_port_subtitle" class="form-control" id="third_port_subtitle">

                            <!-- First Portfolio-Item Description -->
                            <label>Descripcion del primer portafolio</label>
                            <input type="text" name="first_port_description" class="form-control"
                                id="first_port_description">
                                
                            <!-- Second Portfolio-Item Description -->
                            <label>Descripcion del segundo portafolio</label>
                            <input type="text" name="sec_port_description" class="form-control"
                                id="sec_port_description">

                            <!-- Third Portfolio-Item Description -->
                            <label>Descripcion del tercer portafolio</label>
                            <input type="text" name="thrid_port_description" class="form-control"
                                id="thrid_port_description">

                            <!-- First Portfolio-Item Link -->
                            <label>Enlace del primer portafolio</label>
                            <input type="text" name="first_port_link" class="form-control" id="first_port_link">

                            <!-- Second Portfolio-Item Link -->
                            <label>Enlace del segundo portafolio</label>
                            <input type="text" name="sec_port_link" class="form-control" id="sec_port_link">

                            <!-- Third Portfolio-Item Link -->
                            <label>Enlace del tercer portafolio</label>
                            <input type="text" name="third_port_link" class="form-control" id="third_port_link">

                            <!-- First Portfolio-Item Image -->
                            <label>Imagen del primero portafolio</label>
                            <img class="img-fluid d-flex justify-content-center" id="first_show_port_img" src="">
                            <input type="file" name="first_port_img" class="form-control" id="first_port_img"
                                value="hey">

                            <!-- Second Portfolio-Item Image -->
                            <label>Imagen del segundo portafolio</label>
                            <img class="img-fluid d-flex justify-content-center" id="sec_show_port_img" src="">
                            <input type="file" name="sec_port_img" class="form-control" id="sec_port_img">

                            <!-- Third Portfolio-Item Image -->
                            <label>Imagen del tercer portafolio</label>
                            <img class="img-fluid d-flex justify-content-center" id="third_show_port_img" src="">
                            <input type="file" name="third_port_img" class="form-control" id="third_port_img">
                        </div>
                        <div class="card-footer">

                            <!-- Update Button -->
                            <a class="btn btn-success form-control mt-3 mt-3" id="update_portfolio">Guardar cambios</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Script JQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Script PopperJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <!-- Script Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Script AlertifyJs -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>

    <!-- Script Load -->
    <script src="../js/Load.js"></script>
    
</body>

</html>