<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Link Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Link CSS -->
    <link rel="stylesheet" href="style/login.css">

    <title>Login Administrador</title>
</head>

<body>

    <header class="">
        <h1 class="display-4 mb-3">Admin Login</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <form class="card" id="login_form">
                    <div class="card-header text-center">
                        Login
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email" class="form-control" id="input-email"
                                placeholder="Introduce tu email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="form-control" id="input-password"
                                placeholder="Introduce tu contraseña" required>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Entrar" class="btn btn-success form-control mt-3" id="btn-login">
                        <a class="btn btn-primary form-control mt-1" href="../index.html">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Script JQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Script App -->
    <script src="../js/Login.js"></script>

</body>

</html>